form {
  margin: 0 auto;
  width: 300px;
}

html {
  background-color: #424242;
  height: 100%;
  width: 95%;
}

body {
  vertical-align: middle;
  height: 100%;
}

header {
  text-align: center;
  color: #969696;
  font-size: 20px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 0px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #616161;
  outline: none;
  color: #696969;
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  margin-bottom: 5px;
  margin-left: 76.3%;
}

input[type="submit"] {
  width: auto;
  padding: 0px 0px;
  border-bottom: 1px solid #616161;
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

footer {
  margin-top: 20px;
}

table {
  width: 95%;
  color: #e1e1e1;
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-collapse: collapse;
}

th {
  background-color: #5666f3;
  text-align: left;
  padding: 10px;
  color: #e1e1e1;
}

tr:nth-child(even) {
  background-color: #5c5c5c;
}

td:nth-child(6) {
  background-color: #424242;
}

#add_contact {
  cursor: pointer;
  color: #e1e1e1;
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-bottom: none;
}

#button {
  display: none;
}

button.contact {
  background: #5666f3;
  border: 0;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  color: #e1e1e1;
  font-size: 15px;
  cursor: pointer;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

button.remove {
  background: #A31414;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  color: #e1e1e1;
  font-size: 15px;
  cursor: pointer;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

button.cancel {
  background: #8B8B87;
  border: 0;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  color: #e1e1e1;
  font-size: 15px;
  cursor: pointer;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}

button.cancel:hover {
  background: #9B8B87;
}

button.remove:hover {
  background: #B31414;
}

button:hover {
  background: #384af1;
}

tr {
  color: #e1e1e1;
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: left;
}